@import './../../../mixins';

.imageDefault {
	height: auto;
	border-radius: 5px;

	@media (min-width: 768px) and (max-width: 1120px) {
		width: 100%;
	}

	@include mobile {
		max-width: 370px;
	}

}

.variant-loginHero {
	max-height: 640px;

	@media (min-width: 768px) and (max-width: 1120px) {
		max-height: 530px;
	}
}

.variant-dash {
	width: 134px;
}

.variant-login {
	margin-bottom: 40px;

	@include mobile {
		max-width: 270px;
	}
}

.variant-210 {
	max-width: 210px;
	margin-right: 70px;

	@include mobile {
		margin-right: 0;
		margin-bottom: 30px;
		flex-direction: column;
	}

	// Outros estilos específicos para a variante aqui
}

// Adicione outras variantes conforme necessário