/* components/atoms/AnchorWithImage/style.scss */
.anchor-with-image {
	display: inline-block;
	background-image: url('../../../images/logo_ponto_home.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 164px;
	height: 40px;
}