@import './../../../mixins';

.side-menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 180px;
	height: 100%;
	background-color: #fff;
	left: 0;
	top: 0;
	padding-top: 40px;

	@include mobile {
		display: none;
	}
}

.exit {
	display: flex;
	align-items: center;
	background-image: url('../../../images/exit.png');
	background-repeat: no-repeat;
	padding-left: 30px;

	background-size: 20px;
	text-decoration: none;
	background-position: left center;
	color: #000;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.exit a {
	margin-left: 10px;
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #20292E;
}

.menu {
	display: flex;
	gap: 10px;
	align-items: center;
}

.item-menu {
	padding: 20px;
	border-left: 5px solid #330693;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;

	img {
		width: 24px;
		height: 28px;
	}

	p {
		margin: 0;
		padding: 0;
	}
}

.p-20 {
	padding: 20px;
}