.side-menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 180px;
	height: 100%;
	background-color: #fff;
	left: 0;
	top: 0;
}

.d-flex {
	display: flex;
	gap: 10px;
	align-items: center;
}

.item-menu {
	padding: 20px;
	border-left: 5px solid #330693;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;

	img {
		width: 24px;
		height: 28px;
	}

	p {
		margin: 0;
		padding: 0;
	}
}

.p-20 {
	padding: 20px;
}