.navbar {



	ul {
		margin-bottom: 0px;
	}

	align-items: center;

	.navbar-center {
		gap: 40px
	}

	.nav-links {
		gap: 50px;
		align-items: center;
	}

	li a {
		color: #FFF;
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-decoration: none;
	}

}