@import './../../../mixins';

.btnDefault {
	border-radius: 5px;
	width: 160px;
	height: 50px;
	flex-shrink: 0;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #330693;
	border: none;
	cursor: pointer;
	transition: background-color 0.4s ease-in-out;
}

.primary {

	background-color: #fff;

	&:hover {
		background-color: #8A53FF;
		color: #fff;
	}

	@include mobile {
		max-width: 100px;
		font-size: 12px;
	}
}

.secondary {

	background-color: #8A53FF;
	color: #FFF;


	&:hover {
		background-color: #fff;
		color: #8A53FF;
	}

	@include mobile {
		max-width: 100px;
		font-size: 12px;
	}
}

.tertiary {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;

	&:hover {
		background-color: #8A53FF;
		border: none;
	}

	@include mobile {
		max-width: 100px;
		font-size: 12px;
	}
}

.modalbtn {
	background-color: #330693;
	color: #fff;
	width: 200px;

	&:hover {
		background-color: rgba(255, 255, 255, 0.7);
		color: #330693;
		border: 1px solid #330693;
	}
}

.cancelbtn {
	background-color: #fff;
	color: #330693;
	border: 1px solid #330693;
	width: 200px;

	&:hover {
		border: 1px solid #fff;
		background-color: #330693;
		color: #fff;
	}
}

.loginBtn {
	background-color: #330693;
	color: #fff;
	width: 400px;
	margin-top: 30px;

	&:hover {
		background-color: rgba(255, 255, 255, 0.7);
		color: #330693;
		border: 1px solid #330693;
	}

	@media (min-width: 768px) and (max-width: 1120px) {
		width: 100%;

	}

	@include mobile {
		width: 100%;
		margin-top: 15px;
	}
}