@import './../../../mixins';

.card-container {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.controls {
	position: absolute;
	width: 70%;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	z-index: 99999;


	@media (min-width: 768px) and (max-width: 1120px) {
		width: 80%;
	}

	@include mobile {
		width: 100%;
	}
}

.card-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

}

.control-cards {
	background-color: transparent !important;
	border: none;
}

.caption {
	color: #FFF;
	text-align: center;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0 auto;
}

.price {
	color: #FFF;
	text-align: center;
	font-family: Poppins;
	font-size: 50px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	margin: 0 auto;
}

.bonus {
	color: #FFF;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;

	&::before {
		content: url('../../../images/checkCarousel.png');
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 5px;

	}
}

.failcheck {
	opacity: 0.3;
	color: #FFF;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	display: inline-block;
	align-items: center;
	background-repeat: no-repeat;

	&::before {
		content: url('../../../images/noCheckCarousel.png');
		display: inline-block;
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
}

.card-text {
	margin: 0;
}

.card-title {
	margin: 0 auto;
}

.btncarousel {
	background-color: #8A53FF;
	margin: 0 auto;
	border-radius: 5px;
	width: 160px;
	height: 50px;
	transition: background-color 0.4s ease-in-out;

	&:hover {
		transform: scale(1.1);
		background-color: #8A53FF;
		box-shadow: 0 0 0 0.25rem rgba(138, 83, 255, 0.5);
	}
}


.btncarousel:focus {
	background-color: transparent;
	border: 1px solid #8A53FF;
}

.btncarousel:active {
	background-color: transparent;
	border: 1px solid #8A53FF;
}

.btncarousel:active:focus {
	box-shadow: none;
	background-color: transparent;
}


.amount {
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	color: #8A53FF;
}

.custom-card {
	opacity: 0.3;
	transition: opacity 0.3s;
	transform: scale(0.8);
	width: 18rem;
	height: 491px;
	border-radius: 10px;
	border: 1px solid #8a53ff;
	background: rgba(255, 255, 255, 0.08);
	backdrop-filter: blur(2.5px);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	color: white;
	margin: 5px;
	max-width: 333px;



	@media (min-width: 768px) and (max-width: 1120px) {
		width: 100%;
	}
}

.custom-card.active {
	opacity: 1;
	transform: scale(1);
}

.custom-card.semi-active {
	opacity: 0.7;

	@media (min-width: 768px) and (max-width: 1120px) {
		display: none;
	}

	@include mobile {
		display: none;
	}

}